<table id="table" class="table mt-3 mb-5 center-block w-100 mx-auto"
       th:fragment="cars (title)">
    <h2 class="header mt-3 mb-4 center-block text-center w-100 mx-auto" th:text="*{title}"/>
    <thead>
    <tr>
        <th scope="col" th:text="#{cars.table-header.make}"/>
        <th scope="col" th:text="#{cars.table-header.model}"/>
        <th scope="col" th:text="#{cars.table-header.travelled-distance}"/>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="car : ${viewModel}" th:object="${car}">
        <tr>
            <td th:text="*{make}"/>
            <td th:text="*{model}"/>
            <td th:text="*{travelledDistance}"/>
        </tr>
    </th:block>
    </tbody>
</table>
