<table class="table mt-2 mb-2 center-block w-100 mx-auto"
       th:fragment="cars (title)">
    <h2 class="header mt-2 mb-2 center-block text-center w-100 mx-auto" th:text="*{title}"/>
    <thead>
    <tr>
        <th scope="col" th:text="#{cars.table-header.make}"/>
        <th scope="col" th:text="#{cars.table-header.model}"/>
        <th scope="col" th:text="#{cars.table-header.travelled-distance}"/>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="car : ${viewModel}" th:object="${car}">
        <tr>
            <td th:text="*{make}"/>
            <td th:text="*{model}"/>
            <td th:text="*{travelledDistance}"/>
            <td>
                <form th:method="get" th:action="@{/cars/{carId}/parts (carId=*{id})}">
                    <button type="submit" class="btn btn-light btn-sm border-dark"
                            th:text="#{cars.table-button.details}"/>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
