<table class="table mt-2 mb-2 center-block w-100 mx-auto">
    <h2 class="header mt-2 mb-2 center-block text-center w-100 mx-auto" th:text="#{customers.all.title}"/>
    <thead>
    <tr>
        <th scope="col" th:text="#{customers.all.table-header.name}"/>
        <th scope="col" th:text="#{customers.all.table-header.birth-date}"/>
        <th scope="col" th:text="#{customers.all.table-header.young-driver}"/>
        <th/>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="customer : ${viewModel}" th:object="${customer}">
        <tr>
            <td th:text="*{name}"/>
            <td th:text="${#temporals.format(customer.getBirthDate(), 'dd-MMM-yyyy')}"/>
            <td th:text="*{youngDriver}"/>
            <td>
                <form th:method="get" th:action="@{/customers/{customerId} (customerId=*{id})}">
                    <button type="submit" class="btn btn-light btn-sm border-dark"
                            th:text="#{customers.all.table-button.details}"/>
                </form>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
