<table class="table mt-2 mb-2 center-block w-100 mx-auto">
    <h2 class="header mt-2 mb-2 center-block text-center w-100 mx-auto" th:text="#{customers.details.title}"/>
    <thead>
    <tr>
        <th scope="col" th:text="#{customers.details.table-header.name}"/>
        <th scope="col" th:text="#{customers.details.table-header.cars-bought}"/>
        <th scope="col" th:text="#{customers.details.table-header.money-spent}"/>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="customer : ${viewModel}" th:object="${customer}">
        <tr>
            <td th:text="*{name}"/>
            <td th:text="*{carsBought}"/>
            <td th:text="*{#numbers.formatDecimal(moneySpent, 1, 'DEFAULT', 2, 'DEFAULT')}"/>
        </tr>
    </th:block>
    </tbody>
</table>