<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="viewName" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Resident Evil</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Viruses
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/viruses}">Show</a></li>
                        <li><a th:href="@{/viruses/add}">Add</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/map}">Map</a></li>
            </ul>
        </div>
    </nav>
</header>
<main th:include="${viewName}"></main>
</body>
</html>


